.bird-wrapper{
    display: inline;
    position: absolute;
    left: 180px;
    transition: .25s;
}
.bird{
    background-image: url("../../images/bird.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    width: 57px;
    height: 50px;
}