.ground
{
    height: 60px;
    background-image:url("../../images/ground.png");
    background-repeat: repeat;
}
.ground-wrapper{
    height: 60px;
    width: 20000000px;
    position:absolute;
    bottom: -12px;
    transition: .3s;
}